.root {
  @border: 1px solid #ccc;
  @bg: #f5f5f5;

  margin: 10px auto;
  width: 800px;
  border: @border;

  .loader {
    position: absolute;
    left: 0; top: 0;
    padding: 5px 10px;
    background: red;
    color: #fff;
  }

  .main {
    display: flex;
    border-bottom: @border;
  }

    .list {
      flex: 1;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 10px;
        border-top: @border;
        border-right: @border;
        text-transform: capitalize;
        cursor: pointer;

        &:first-child {
          border-top: none;
        }

        &.selected {
          background: @bg;
          border-right-color: @bg;
        }
      }
    }

    .details {
      padding: 20px;
      width: 400px;
      background: @bg;
      text-align: center;

      h2 {
        margin: 0 0 20px;
        padding: 0;
        text-transform: capitalize;
      }
    }

    .nav {
      padding: 20px;
      text-align: center;

      span {
        padding: 0 10px;
      }
    }
}
